<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>블로그 글</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3">My Blog</h1>
  <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>

<section class="mb-3" th:if="${comment}">
  <div class="card mb-1">
    <div class="card-body">
      <div class="text-muted fst-italic mb-2">
        <p class="card-text" th:text="${comment?.content}"></p>
      </div>
      <form th:action="@{/{id}/editComment(id=${id})}" th:object="${comment}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <textarea rows="3" class="form-control mb-2" th:field="*{content}"></textarea>
        <button type="submit" class="btn btn-primary">수정</button>
      </form>
    </div>
  </div>
</section>
</body>
</html>